body{
  margin: 0;
  padding: 0;
font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
/* ヘッダー */
.header_rogo {
  width: auto;
      padding-top: 1.5vw;
      height: 8vw;
      padding-left: 25.4vw;
        }
header {
  width: 100%;
  background-color: black;
  display: flex;
}

#nav-drawer {
  border-right: solid white;
    padding-top: 2.5%;
    position: relative;
    width: 11%;
    padding-left: 3.2%;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
      height: 0.7vw;
      width: 7vw;
      border-radius: 3px;
      background: white;
      display: block;
      content: '';
      cursor: pointer;
  }
#nav-open span:before {
bottom: -1.8vw;
  }
#nav-open span:after {
  bottom: -3.4vw;
  }

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
.nav-content-img{
  width: 40%;
      margin: 0px auto 5vw;
}
.nav-content-img img{
  width: 100%;
}
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 50%;/*最大幅（調整してください）*/
  height: 100%;
  background: black;/*背景色*/
  transition: .5s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateY(-105%);
  transform: translateY(105%);/*左に隠しておく*/
}
#nav-content ul{
  list-style: none;
    margin: 0;
    padding: 0;
}
#nav-content ul li{
  position: relative;
    margin: 0;
    border-bottom: 1px solid white;
}
#nav-content ul li a{
  display: block;
    color: white;
    font-size: 4.5vw;
    text-decoration: none;
    transition-duration: 0.2s;
    padding-bottom: 1vw;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* スライドショー */
.slider{
  margin: 0 !important;
}
.bx-wrapper img {
    height: 100%!important;
    width: 100%!important;
    max-width: 100%!important;
    display: block!important;
}
header .bx-wrapper {
    margin: 4vw 0 3vw!important;
    box-shadow: none!important;
}
.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc!important;
    -webkit-box-shadow: 0 0 5px #ccc!important;
    box-shadow: 0 0 0px #fff!important;
    border: 0px solid #fff!important;
    background: #fff!important;
  }
.TOP_slider1{
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.TOP_slider1 .bx-wrapper .bx-viewport{
  height: 53vw!important;
}
.TOP_slider2_bolder .TOP_slider2 .bx-wrapper {
    margin: 8vw 0 3vw!important;
    box-shadow: none!important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 0!important;;
}
#TOP_slider1_icon{
  height: 100%!important;
    width: 60%!important;
    max-width: 100%!important;
    display: block!important;
    margin: 0 auto;
}
/* TOPページのコンテント */
/* コンテントのタイトル */
.TOP_content{
  width: 100%;
  margin: 0;
}
.loading_content{
  margin-top: 9%;
}

.TOP_content_title{
  font-size: 8vw;
    width: 100%;
    font-weight: 500;
    color: #666666;
    text-align: center;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.TOP_content_subtitle1{
  width: 50%;
      background-color: white;
      position: relative;
      color: #666666;
      font-weight: bold;
      margin: 0 auto;
      text-align: center;
      font-size: 3.5vw;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      top: -6vw;
  }
  .TOP_content_subtitle2{
    background-color: white;
        position: relative;
        color: #666666;
        font-weight: bold;
        margin: auto;
        text-align: center;
        font-size: 4.5vw;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }

  .corporate_philosophy{
    font-size: 6.5vw;
    line-height: 2;
  }
.TOP_content_youtube{
  margin-top: 0;
      width: 100%;
      font-size: 3.5vw;
      text-align: end;
      color: #666666;
      height: 5vw;
  }
.TOP_content_youtube_border{
  border: solid 0.3vw #666666;
}
.TOP_content_text{
  position: relative;
    color: #666666;
    font-size: 4vw;
    text-align: center;
    line-height: 1.7;
  }
.TOP_content_bgimg1{
  position: relative;
    margin: 0 auto;
    width: 65%;
    padding-top: 6vw;
}
.TOP_content_bgimg1 img{
  width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 40vw;
    border: solid gray 0.3vw;
  }
.TOP_diagnosis{
  position: relative;
      margin: 0 auto;
      text-align: center;
      background: linear-gradient(#B1ACAC, gray);
      width: 35vw;
      height: auto;
}
.TOP_diagnosis a{
  text-decoration: none;
}
.TOP_content_diagnosis{
  color: white;
  margin: 0;
  font-size: 5.5vw;
}
.TOP_SNS_icon{
  margin-top: 11%;
    text-align: center;
}
.twitter{
  width: 8vw;
    margin-block-end: 0.35vw;
}
.instagram{
  padding-left: 4vw;
    width: 8.2vw;
    margin-block-end: 0px;
    padding-right: 4vw;
}
.youtube{
  width: 8.2vw;
      margin-block-end: 0.2vw;
}
.TOP_slider2_bolder {
  margin: 5vw auto 0;
  width: 90%;
  border-top: solid 1vw gray;
  border-bottom: solid 1vw gray;
}
.TOP_slider2 {
    width: 89%;
    margin: 0 auto;
}
.bx-wrapper .bx-pager {
  margin-bottom: 66%!important;
}
.bx-wrapper .bx-pager.bx-default-pager a{
  width: 2vw!important;
  height: 2vw!important;
  border-radius: none!important;
}
.TOP_content_toothbrush{
  width: 100%;
  margin-bottom: 12vw;
}
.TOP_Product_buttun{
  display: flex;
  width: 100%;
  margin-top: 13%;
  margin-bottom: 12%;
  justify-content: center;
}

.TOP_genre_leftbutton,.TOP_genre_rightbutton{
  border: none;
    outline: none;
    color: white;
    font-size: 4vw;
    padding: 3vw 9vw;
}
.TOP_genre_leftbutton{
  margin-right: 1%;
  background-color: #666666;
}
.TOP_genre_rightbutton{
  margin-left: 1%;
  background-color: lightgrey;
}
.TOP_content_slider{
  display: flex;
      text-align: center;
      width: 100%;
      margin-bottom: 7vw;
}
.slider_content1{
  width: 100%;
  transition: 1s;
}
.slider_content2{
  width: 100%;
  transition: 1s;
}
.TOP_slider2 .bx-wrapper .bx-viewport .slider2 li img{
  height: 51vw!important;
    width: 100%!important;
    max-width: 100%!important;
    display: block!important;
}
.TOP_ploduct_slider{
  width: 100%;
  display: flex;
  overflow: scroll;
}
.TOP_content_shadow{
  width: 85%;
    margin: 0 auto;
    box-shadow: 2px 2px 1.5vw grey;
    padding-bottom: 12%;
}
.TOP_ploduct{
  margin-top: 10vw;
  width: 100%;
}
.TOP_ploduct_text{
  text-align: center;
  margin: 0;
  width: 100%;
}
.TOP_ploduct_name{
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 0;
  width: 100%;
    color: #666666;
    font-size: 4vw;
}
.TOP_ploduct_subname{
font-size: 3.5vw;
}
.TOP_ploduct_subtitle{
  margin-block-start: 5vw;
    margin-bottom: 4vw;
    font-size: 4vw;
    color: #666666;
}
.TOP_ploduct_contentbutton{
  width: 100%;
    display: flex;
    justify-content:center;
}
.TOP_ploduct_contentbutton a{
  text-decoration: none;
}
.TOP_ploduct_detail{
  color: white;
      margin: 0;
      font-size: 4.5vw;
      text-align: center;
      background: linear-gradient(#B1ACAC, gray);
      padding: 2vw 5vw;
      margin-right: 2vw;
}
.TOP_ploduct_buy{
  color: white;
  margin: 0;
  font-size: 4.5vw;
  text-align: center;
  background: linear-gradient(#B1ACAC, gray);
  padding: 2vw 14vw;
  margin-left: 2vw;
}
.c-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 15px;
}
.TOP_under_img{
  width: 23%;
    margin: 0 auto;
    /* height: 100%; */
}
.TOP_under_text{
  width: 100%;
}
.undermenu{
  display: flex;
    justify-content: space-around;
    margin-top: 7vw;
}
.undermenu a{

  text-decoration: none;
  font-size: 3vw;
  border-bottom: solid gray 0.4vw;
}
.TOP_new{
  height: 4.5vw;
  padding: 0 8vw;
}
 .undermenu p{
   color: #666666;
  margin: 0 0 0 0;
}
.TOP_online{
  height: 4.5vw;
    padding: 0px 10vw;
}
.TOP_service{
  height: 4.5vw;
  padding: 0 11.2vw;
}
.TOP_contact{
  height: 4.5vw;
  padding: 0 7vw;
}
.TOP_address{
  color: #666666;
    font-size: 3.2vw;
    margin-inline-start: 10vw;
    margin-block-start: 7vw;
}
.TOP_under_icon{
  text-align: center;
  margin: 100px;
}
.TOP_under_icon{
  text-align: center;
  margin: 8vw;
}
.pr7{
  padding-right: 7vw;
}
.pl7{
  padding-left: 7vw;
}
/* 商品ページ */
.product_revert_icon{
  width: 27%;
    margin: 0 auto;
    margin-top: 6vw;
}
.product_revert {
  width: 100%;
  margin-bottom: 10vw;
}
.product_revert_img{
  width: 100%;
}
.product_sonic_text{
  text-align: center;
}
.ploduct_subname{
font-size: 3.5vw;
}
.product_sonic_name{
  margin: 0;
    font-size: 7vw;
    color: #666666;
    line-height: 1.3;
}
.product_sonic_maney{
font-size: 6vw;
color: #666666;
}
.product_sonic_button{
  margin: 0 auto;
    text-align: center;
    background: linear-gradient(#B1ACAC, gray);
    width: 35vw;
    height: auto;
}
.product_sonic_button a{
  text-decoration: none;
}
.product_sonic_button h1 {
    color: white;
    margin: 0 0 20% 0;
    font-size: 5.5vw;
}
.product_sonic_subtitle {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 4.5vw;
    width: 90%;
    color: #666666;
    margin: 0 auto;
}
.product_sonic_explanation{
  width: 87%;
    color: #666666;
    margin: 0 auto
}
.pc_product_gml{
margin-left: 3.8vw;
}
.product_sonic_explanation h2{
  margin: 12vw 0 0 0;
    font-size: 5.3vw;
}
.product_sonic_explanationtext {
    margin-left: 1vw;
    font-size: 3.5vw;
}
.product_sonic_explanationtext p{
  margin-bottom: 8%;
}
.product_sonic_contentbutton{
  width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.product_sonic_contentbutton a{
  text-decoration: none;
}
.product_sonic_review{
  color: white;
    margin: 0;
    font-size: 3.5vw;
    text-align: center;
    background: linear-gradient(#B1ACAC, gray);
    padding: 1.5vw 12vw;
}
.product_sonic_buy{
  color: white;
  margin: 0;
  font-size: 3.5vw;
  text-align: center;
  background: linear-gradient(#B1ACAC, gray);
  padding: 1.5vw 16vw;
}
.product_sonic_bolder{
  margin-top: 4vw;
    padding: 0 7.5vw;
}
.product_sonic_under{
  border-top: solid gray 0.5vw;
}
.product_sonic_under p {
    color: #666666;
    width: 39%;
    text-align: center;
    font-size: 4vw;
    margin-top: 6vw;
    border-bottom: solid gray 0.5vw;
    margin: 10vw auto;
}
.products_content{
width: 100%;
margin-bottom: 11vw;
}
.product_sonic_set{
  color: #666666;
  margin: 0 auto;
  width: 90%;
      gap: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
}
.product_sonic_set img {
    width: 100%;
}
.APAGARDRENAMEL{
  width: 100%;
  font-size: 3vw;
}
.APAGARDRENAMEL_text{
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
}
.APAGARDRENAMEL img {
  width: 100%;
  height: 21.6vw;
}
.ORALPEACE{
  width: 100%;
}
.ORALPEACE img {
    width: 100%;
}
.hgt216{
  height: 21.6vw;
}

.purasheight{
  height: 21.845vw;
}
.ORALPEACE_name{
  margin-top: 0;
  text-align: center;
  font-size: 3vw;
}
.ORALPEACE_text{
  padding: 0px 5px;

  font-size: 3vw;
}
.ORALPEACE2{
  width: 100%;
}

/* stepページ */
.products_step{
  width: 100%;
  height: auto;
}
.products_step_bar{
  margin: 0 auto;
    width: 80%;
    margin-block-start: 10%;
    margin-block-end: 30px;
}
.products_step_boder{
  width: 80%;
    margin: 0 auto;
  padding: 20px 0 8vw 0;
    border:solid #ccc 1px;
}
.products_step_bar img{
  width: 80vw;
}
.products_step_bar p{
  font-size: 3.4vw;
}
.font_red{
  color: red;
}
.products_step_purchase{
  justify-content: center;
    display: flex;
    padding: 0 4%;
}
.products_step_purchase_img{
    width: 123vw;
    margin-right: 5%;
}
.products_step_purchase_img_co{
    width: 43%;
    margin-right: 4%;
}
.products_step_purchase_sonicimg{
  width: 47%;
  margin-right:0;
}
.products_step_purchase_img img{
  width: 100%;
    padding-top: 16vw;
}
.products_step_purchase_img_co img{
  width: 100%;
  padding-top: 7vw;
}

.products_step_purchase_sonicimg img{
  width: 100%;
  padding-top: 7vw;
}
.products_step_purchase_text{
  margin-block-start: 6vw;
  color: #666666;
}
.products_step_purchase_text_name{
  font-size: 3vw;
    margin-bottom: 5%;
}
.products_step_purchase_text_nameset{
  font-size: 3vw;
    margin-bottom: 5%;
}
.products_step_purchase_text_text{
  font-size: 3vw;
}
.products_step_purchase_text_praice{
  font-size: 5.5vw;
}
.products_step_recalculation{
  padding-left: 10%;
}
.products_step_recalculation input{
  outline: none;
  border-radius: 1.5vw;
    box-shadow: none;
    padding: 2px 8px;
  position: relative;
  font-size: 5vw;
  width: 28%;
      height: 6vw;
      margin-right: 7%;
  font-size: 5vw;
  top: 5px;
  }
.products_step_count{
  margin-top: 5%;
}

.products_step_count{
  padding-left: 10%;
}
.products_step_purchase_calculation{
  padding-left: 10%;
}
.products_step_count input{
  outline: none;
  border-radius: 1.5vw;
    box-shadow: none;
    padding: 2px 8px;
  position: relative;
  font-size: 5vw;
  top: 5px;
  width: 28%;
      height: 6vw;
      margin-right: 7%;
}
.products_step_deletebutton{
  padding: 0;
    color: #666666;
    border: none;
    background: none;
    font-size: 3vw;
    position: relative;
    top: 1.4vw;
    border-bottom: solid;
    border-color: darkgray;
    border-width: 1vw;
    height: 3.8vw;
}
.products_step_recalculation button{
  top: 1.3%;
    position: relative;
  border: none;
    outline: none;
    color: white;
    font-size: 5vw;
    padding: 0vw 2.5vw;
    background: gray;
  }
.products_step_purchase_calculations{
    padding-left: 11%;
}
.products_step_button1{
  top: 1.3%;
    position: relative;
  border: none;
    outline: none;
    color: white;
    font-size: 5vw;
    padding: 0vw 2.5vw;
    background: gray;
    }
 .products_step_button2{
   top: 1.3%;
    position: relative;
   border: none;
     outline: none;
     color: white;
     font-size: 5vw;
     padding: 0vw 5vw;
     background: gray;
     margin-right: 3vw;
  }

  .products_step_{
    width: 100%;
    text-align: center;
  }
  .products_step_boybutton{
    margin-block-start: 4%;
      border: none;
      outline: none;
      color: white;
      font-size: 3vw;
      /* padding: 2vw 4.5vw; */
      background: linear-gradient(#B1ACAC, gray);
      width: 80%;
      height: 13vw;
      font-size: 5vw;
  }
  .products_step_boybutton2{
    margin-block-start: 3%;
      border: none;
      outline: none;
      color: white;
      font-size: 3vw;
      /* padding: 2vw 4.5vw; */
      background: linear-gradient(#B1ACAC, gray);
      width: 80%;
      height: 13vw;
      font-size: 5vw;
  }
/* 初めての方へページ */
.beginners_title{
  font-size: 9vw;
    height: 12vw;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid gray 0.4vw;
    color: #666666;
}
.beginners_text {
    font-size: 3vw;
    color: #666666;
    width: 66vw;
    margin: 0 auto;
}
.beginners_img{
  width: 60%;
    margin: 0 auto;
}
.beginners_img img{
  width: 100%;
}
/* お問い合わせページ */
.contact_form{
  margin-top: 5vw;
}
/* 診断ページ */
.diagnosis{
  width: 100%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 12%;
}
.diagnosis_title{
      height: auto;
      border: solid gray 1vw;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      font-size: 6vw;
      color: #666666;
      background-image: url("./revert/背景(2).jpg");
      background-size: cover;
}
.diagnosis_title_top{
  border-bottom: solid gray 1.3vw;
}
.diagnosis_title_toptext{
  margin-block-end: 4%;
}
.diagnosis_title_bottom{
  margin-top: 0;
}
#diagnosis_count{
  width: 17%;
  margin: 7% auto 6%;
  text-align: center;
  font-size: 4.5vw;
  background-color: #666666;
  color: white;
}
.diagnosis_cheak{
  margin-top: 5%;
}
.diagnosis_img{
  width: 35%;
  margin: 0 auto;
}
.diagnosis_img img{
  width: 100%;
    margin-bottom: 20%;
}
.box_title{
  text-align: center;
    font-size: 4.7vw;
    margin: 0 auto;
    width: 100%;
    color: #666666;
}
.diagnosis_cheak ul{
  display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.box_border{
  position: relative;
    color: #666666;
    font-size: 5.5vw;
    margin: 0;
    text-align: center;
    bottom: 1vw;
    font-weight: bold;
}
#clickTest{
  border: solid gray 0.7vw;
    width: 31%;
    text-align: center;
      background-image: url("./revert/背景(1).jpg");
  }
  #clickTest p{
    color: #666666;
      font-size: 2.8vw;
}
#back{
  background: none;
  border: none;
}
#back i{
  font-size: 10vw;
    padding-inline-start: 40%;
    color: grey;
}
.box_title_border{
  border-bottom: solid #666666 0.7vw
}
.box2,.box3,.box4,.box2,.box2,.box2
/* 微調整 */
.mrg-40{
  margin-bottom: 16%;
  margin-top: 10%;
}
.pdt-25{
  padding-top: 25%;
}
.mgt-10vw{
  margin-top: 10vw;
}
.mgb-10vw{
  margin-bottom: 10vw
}
.fs19{
  font-size: 3.9vw;
}
.diagnosis_result{
  width: 100%;
}
.diagnosis_result_content{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: solid gray 0.5vw;
}
.diagnosis_result_content_text1{
  font-size: 3vw;
}
.diagnosis_result_content_text2{
  font-size: 4vw;
  margin-bottom: 3%;
  font-size: 4vw;
}
.diagnosis_result_content_type{
  font-size: 3vw;
    margin: 0 auto;
    border-bottom: solid grey 0.5vw;
    width: 21.5vw;
    height: 3.3vw;
    margin-bottom: 5vw;
  }
  .diagnosis_result_content_type_white{
    font-size: 3vw;
    margin: 0 auto;
    border-bottom: solid grey 0.5vw;
    width: 32vw;
    height: 3.3vw;
    margin-bottom: 5vw;
  }
.diagnosis_result_content img{
  width: 85%;
}
.diagnosis_result_content_name{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 6vw;
}
.diagnosis_result_content_praice{
  font-size: 5vw;
    margin-top: 0;
    color: red;
}
.diagnosis_step_{
  width: 100%;
  text-align: center;
}
.diagnosis_step_button{
  margin: 0 auto;
    border: none;
    outline: none;
    color: white;
    font-size: 3vw;
    /* padding: 2vw 4.5vw; */
    background: linear-gradient(#B1ACAC, gray);
    width: 70%;
    height: 10vw;
    font-size: 6vw
}
.diagnosis_step_button2{
margin-block-start: 8%;
margin-left: auto;
margin-right: auto;
    border: none;
    outline: none;
    color: white;
    font-size: 3vw;
    /* padding: 2vw 4.5vw; */
    background: linear-gradient(#B1ACAC, gray);
    width: 70%;
    height: 10vw;
    font-size: 6vw;
    margin-bottom: 8%;
}
.horizontal{
  width: 35%;
    margin: 0 auto;
}
.horizontal img{
  width: 100%;
    margin-bottom: 20%;
    height: 34.55vw;
}
.diagnosis_step_ a{
  text-decoration: none;
}
/* スマホ版 */
@media screen and (max-width:480px) {
.pc_product_gml{
  margin-left: 0;
}
  .header_rogo {
    width: 23%;
}
header {
    height: 13vw;
    width: 100%;
    background-color: black;
    display: flex;
}
#nav-open {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
/* TOPページ */
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 8vw;
    border-radius: 3px;
    background: white;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-drawer {
    padding-top: 4%;
    position: relative;
    width: 12%;
    padding-left: 3.2%;
}
#nav-open span:before {
bottom: -1.8vw;
  }
#nav-open span:after {
  bottom: -3.4vw;
  }
.header_rogo {
  padding-top: 3vw;
    height: 8vw;
    padding-left: 23vw;

}
.loading_content {
  }
.TOP_ploduct_subname {
  font-size: 3.5vw;
}
.TOP_ploduct_name {
  width: 100%;
    color: #666666;
    font-size: 5.3vw;
    margin-top: -8%;
    line-height: 1.3;
}
.TOP_ploduct_subtitle {
  margin-block-start: 7vw;
    margin-bottom: 4vw;
    font-size: 4.3vw;
    color: #666666;
}
/* 商品詳細ページ */
　.product_sonic_subtitle {
    font-size: 1.4vw;
    color: #666666;
}
.product_sonic_explanation h2 {
    margin: 12vw 0 0 0;
    font-size: 5.3vw;
}
.product_sonic_explanationtext {
    margin-left: 1vw;
    font-size: 4vw;
}
.product_sonic_under {
    border-top: solid gray 0.7vw;
}
.product_sonic_under p {
  width: 47.1%;
    text-align: center;
    font-size: 5vw;
    margin-top: 6vw;
    border-bottom: solid #666 0.7vw;
    margin: 10vw auto;
}
.product_sonic_set {
  padding: 0 0px;
      margin: 0 auto;
      width: 94%;
      gap: 1%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      line-height: 1.5;
}
.product_gml{
  margin-left: 4vw;
}
.APAGARDRENAMEL {
  width: 100%;
}
.APAGARDRENAMEL_name{
  font-size: 2vw;
}
.purasheight {
    height: 26.87vw;
}
.APAGARDRENAMEL img {
    width: 100%;
    height: 26.87vw;
}
.ORALPEACE img {
    width: 100%;
    height: 26.87vw;
}
/* stepページ */
.products_step{
  width: 100%;
  height: auto;
}
.products_step_bar{
  margin: 0 auto;
    width: 80%;
    margin-block-start: 10%;
    margin-block-end: 30px;
}
.products_step_boder{
  width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    border:solid #ccc 1px;
}
.products_step_bar img{
  width: 80vw;
}
.products_step_bar p{
  font-size: 3.4vw;
}
.font_red{
  color: red;
}
.products_step_purchase{
  justify-content: center;
    display: flex;
    padding: 0 4%;
}
.products_step_purchase_img{
  width: 116vw;
    margin-right: 5%;
}
.products_step_purchase_img img{
  width: 100%;
  padding-top: 7vw;
}
.products_step_purchase_img_co img{
  width: 100%;
  padding-top: 7vw;
}

.products_step_purchase_text{
  margin-block-start:0;
  color: #666666;
}
.products_step_purchase_text_name{
  font-size: 2.8vw;
    margin-bottom: 5%;
}
.products_step_purchase_text_text{
  width: 100%;
    font-size: 2.5vw;
}
.products_step_purchase_text_praice{
  font-size: 3.5vw;
}
.products_step_recalculation{
  padding-left: 10%;
}
.products_step_recalculation input{
  width: 20%;
      height: 6vw;
      margin-right: 4%;
  top:0;
  }
.products_step_count{
  margin-top: 5%;
}
.products_step_count input{
  width: 20%;
      height: 6vw;
      margin-right: 4%;
  top:0;
}
.products_step_deletebutton{
    background: none;
    font-size: 2vw;
}
.products_step_recalculation button{
  border: none;
    outline: none;
    color: white;
    font-size: 5vw;
    padding: 0vw 2.5vw;
    background: gray;
  }
.products_step_purchase_calculations{
  padding-left: 8vw;
}
.products_step_button1{
  border: none;
    outline: none;
    color: white;
    font-size: 5vw;
    padding: 0vw 2.5vw;
    background: gray;
    }
 .products_step_button2{
   border: none;
     outline: none;
     color: white;
     font-size: 5vw;
     padding: 0vw 5vw;
     background: gray;
  }

  .products_step_{
    width: 100%;
    text-align: center;
  }
  .products_step_boybutton{
    margin-block-start: 4%;
      border: none;
      outline: none;
      color: white;
      background: linear-gradient(#B1ACAC, gray);
      width: 80%;
      height: 13vw;
      font-size: 5vw;
  }
  .products_step_boybutton2{
    margin-block-start: 3%;
      border: none;
      outline: none;
      color: white;
      background: linear-gradient(#B1ACAC, gray);
      width: 80%;
      height: 13vw;
      font-size: 5vw;
  }
  .products_step_purchase_text_nameset{
    font-size: 90%;
    margin-bottom: 13%;
  }
/* 初めての方へページ */
.beginners_text {
    font-size: 2.5vw;
    color: #666666;
    width: 70vw;
    margin: 0 auto;
}
/* 微調整 */
.mrg-40{
  margin-bottom: 16%;
    margin-top: 10%;
}
.mrg-42{
  margin-bottom: 42%;
  margin-top: 16%;
}
.kosf{
  font-size: 2.8vw;
}
.mgbs{
margin-block-start: 0;
}
.products_step_purchase_img_co{
  width: 90%;
    margin-right: 4%;
}
}
@media screen and (max-width:320px) {
  #nav-open span:before {
  bottom: -1.8vw;
    }
  #nav-open span:after {
    bottom: -3.6vw;
    }
    .APAGARDRENAMEL img {
        width: 90.2%;
        height: 26.87vw;
    }

}
